.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

data-raw/*
!data-raw/README.md

# untracked intermediate files
data/**/sim_*.rds
data/**/sims_*.rds
data/**/*_sim.rds
data/**/*_sims.rds

# tex 
*.pdf
*.tmp
*.aux
*.log

# misc
*.bak
*.swp

# shapefiles should go in data-raw/
*.shp
*.shx
*.dbf
*.cpg
*.prj
*.sbn
*.sbx

# site stuff
site/_posts/**/site_libs
site/_posts/**/*_files
site/_posts/**/*.html
site/_posts/**/*.png
!site/_posts/docs/*.html
!site/_posts/docs/*.png
